{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}

	<div class="row mx-auto">
		<div class="col">
			<img src="{{ asset('images/logo2_removebg.png')}}" class="f-logo mt-5 py-3" ; alt="f-logo">
		</div>
		<div class="col">
			<h1 class="mt-5 py-3 font-weight-normal">Inscrivez-vous</h1>
			{{ form_start(registrationForm, {'attr': {'style': 'color: white; width:300px'}}) }}

			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
			{{ form_row(registrationForm.nom) }}
			{{ form_row(registrationForm.prenom) }}
			{{ form_row(registrationForm.agreeTerms) }}
            <button type="submit" class="btn col-12 mt-3" style="background:#1d3039; color:white;">S'inscrire</button>
			{{ form_end(registrationForm) }}
		</div>
	</div>


{% endblock %}
