{% extends "base.html.twig" %}

{% block h1 %}
	{{produit.titre|capitalize}}
{% endblock %}

{% block title %}
	{{ parent() }}
	|
	{{produit.titre|capitalize}}
{% endblock %}

{% block body %}
	<a class="btn btn-dark mb-3 px-3" href="{{ path('produit_afficher') }}">Retour</a>

<table class="table table-striped shadow-lg mb-5 bg-body rounded">


		<tr>
			<th>ID</th>
			<td>{{ produit.id }}</td>
		</tr>

		<tr>
			<th>Titre</th>
			<td>{{ produit.titre }}</td>
		</tr>

		<tr>
			<th>Prix</th>
			<td>{{ produit.prix }}
				€</td>
		</tr>

		<tr>
			<th>Description</th>
			<td>
				{% if produit.description %}
					{{produit.description}}
				{% else %}
					<span class="text-danger">N.R</span>
				{% endif %}
			</td>
		</tr>

		<tr>
			<th>Création</th>
			<td>{{ produit.createdAt|date('d/m/Y H:i') }}</td>
		</tr>
		<tr>
			<th>Modification</th>
			<td>
				{% if produit.updatedAt %}
					{{ produit.updatedAt|date('d/m/Y H:i') }}
				{% else %}
					<span class="text-danger">Aucune modification</span>
				{% endif %}
			</td>
		</tr>
		<tr>
			<th>Catégorie</th>
			<td>{{ produit.categorie.nom }}</td>
		</tr>
		<tr>
			<th>Marque</th>
			<td>{{ produit.marque.nom }}</td>
		</tr>
		<tr>
			<th>Matière(s)</th>
			<td>
				{% for matiere in produit.matieres %}
					{{ matiere.nom }}
				{% endfor %}
			</td>
		</tr>
		<tr>
			<th>Image</th>
			<td>
				{% if produit.image %}
					<img src="{{ asset('images/upload/' ~ produit.image )| imagine_filter('rectangle') }}" alt="">
				{% else %}
					<span class="text-danger">Aucune image</span>
				{% endif %}
			</td>
		</tr>
	</table>


{% endblock %}
