{% extends 'base.html.twig' %}

{% block title %}Gestion du format{% endblock %}

{% block body %}
<div class="p-3 mx-auto">
	<h1>Gestion du format</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for matiere in matieres %}
				<tr>
					<td>{{ matiere.id }}</td>
					<td>{{ matiere.nom }}</td>
					<td>
						<a href="{{ path('app_matiere_show', {'id': matiere.id}) }}" class="btn btn-primary p-1 mb-1">afficher</a>
						<a href="{{ path('app_matiere_edit', {'id': matiere.id}) }}" class="btn btn-secondary p-1 mb-1">editer</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="{{ path('app_matiere_new') }}" class="btn btn-info p-1 mb-1">Create new</a>
</div>

{% endblock %}
