{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	| Accueil
{% endblock %}

{% block body %}

	{% if app.user %}
		{% set color = 'success' %}
	{% else %}
		{% set color = 'danger' %}
	{% endif %}

	<h2 class="text-center text-{{color}}">
		Bonjour
		{% if app.user %}
			{{ app.user.prenom }}
		{% endif %}
	</h2>

	<img src="{{ asset('images/home2.jpg') }}" alt="" class="img60">


	<main class="col-md-4 col-lg-6 col-sm-12">
		<h1 class="text-center text-primary my-3"></h1>
		<div class="container-fluid mt-2 mb-5">
			<div class="row g-5">
				<div class="col-md-4 col-lg-6 col-sm-12 mx-auto">

					<div class="card">
						<img src="{{ asset('images/home2.jpg') }}" class="card-img-top">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<span class="font-weight-bold">Wood Sofa set-3</span>
								<span class="font-weight-bold">$550</span>
							</div>
							<p class="card-text mb-1 mt-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<div class="d-flex align-items-center flex-row">
								<img src="" width="20">
								<span class="guarantee">2 Years Guarantee</span>
							</div>
						</div>
						<hr>
						<div class="card-body">
							<div class="text-right buttons">
								<button class="btn btn-outline-dark">add to wishlist</button>
								<button class="btn btn-dark">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-6 col-sm-12 ">

					<div class="card">
						<img src="https://i.imgur.com/FhRHNGE.jpg" class="card-img-top">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<span class="font-weight-bold">Wood Sofa set-3</span>
								<span class="font-weight-bold">$600</span>
							</div>
							<p class="card-text mb-1 mt-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<div class="d-flex align-items-center flex-row">
								<img src="https://i.imgur.com/e9VnSng.png" width="20">
								<span class="guarantee">1 Years Guarantee</span>
							</div>
						</div>
						<hr>
						<div class="card-body">
							<div class="text-right buttons">
								<button class="btn btn-outline-dark">add to wishlist</button>
								<button class="btn btn-dark">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-6 col-sm-12">

					<div class="card">
						<img src="https://i.imgur.com/eu74Mje.jpg" class="card-img-top">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<span class="font-weight-bold">Wood Sofa set-2</span>
								<span class="font-weight-bold">$1,000</span>
							</div>
							<p class="card-text mb-1 mt-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<div class="d-flex align-items-center flex-row">
								<img src="https://i.imgur.com/e9VnSng.png" width="20">
								<span class="guarantee">4 Years Guarantee</span>
							</div>
						</div>
						<hr>
						<div class="card-body">
							<div class="text-right buttons">
								<button class="btn btn-outline-dark">add to wishlist</button>
								<button class="btn btn-dark">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-6 col-sm-12 ">

					<div class="card">
						<img src="https://i.imgur.com/441QtPc.jpg" class="card-img-top">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<span class="font-weight-bold">Wood Sofa set-4</span>
								<span class="font-weight-bold">$850</span>
							</div>
							<p class="card-text mb-1 mt-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<div class="d-flex align-items-center flex-row">
								<img src="https://i.imgur.com/e9VnSng.png" width="20">
								<span class="guarantee">3 Years Guarantee</span>
							</div>
						</div>
						<hr>
						<div class="card-body">
							<div class="text-right buttons">
								<button class="btn btn-outline-dark">add to wishlist</button>
								<button class="btn btn-dark">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-6 col-sm-12 mx-auto">

					<div class="card">
						<img src="https://i.imgur.com/hnX99Cr.jpg" class="card-img-top">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<span class="font-weight-bold">Wood Sofa set-5</span>
								<span class="font-weight-bold">$15,50</span>
							</div>
							<p class="card-text mb-1 mt-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<div class="d-flex align-items-center flex-row">
								<img src="https://i.imgur.com/e9VnSng.png" width="20">
								<span class="guarantee">8 Years Guarantee</span>
							</div>
						</div>
						<hr>
						<div class="card-body">
							<div class="text-right buttons">
								<button class="btn btn-outline-dark">add to wishlist</button>
								<button class="btn btn-dark">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-6 col-sm-12 mx-auto">

					<div class="card">
						<img src="https://i.imgur.com/SOMPPzU.jpg" class="card-img-top">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<span class="font-weight-bold">Wood Sofa set-3</span>
								<span class="font-weight-bold">$550</span>
							</div>
							<p class="card-text mb-1 mt-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<div class="d-flex align-items-center flex-row">
								<img src="https://i.imgur.com/e9VnSng.png" width="20">
								<span class="guarantee">2 Years Guarantee</span>
							</div>
						</div>
						<hr>
						<div class="card-body">
							<div class="text-right buttons">
								<button class="btn btn-outline-dark">add to wishlist</button>
								<button class="btn btn-dark">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
			<!--Chairs-->
			<div class="d-flex justify-content-between p-3 bg-white mb-3 align-items-center">
				<span class="font-weight-bold text-uppercase">Luxury Chairs</span>
				<div>
					<img src="https://img.icons8.com/windows/100/000000/list.png" width="30">
					<img src="https://img.icons8.com/ios-filled/100/000000/squared-menu.png" width="25">
				</div>
			</div>
			<div class="row g-3">
				<div class="col-md-4 col-lg-6 col-sm-12 mx-auto">

					<div class="card">
						<img src="https://i.imgur.com/2ldaKjy.jpg" class="card-img-top">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<span class="font-weight-bold">Wodden chairs set-2</span>
								<span class="font-weight-bold">$150</span>
							</div>
							<p class="card-text mb-1 mt-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<div class="d-flex align-items-center flex-row">
								<img src="https://i.imgur.com/e9VnSng.png" width="20">
								<span class="guarantee">4 Years Guarantee</span>
							</div>
						</div>
						<hr>
						<div class="card-body">
							<div class="text-right buttons">
								<button class="btn btn-outline-dark">add to wishlist</button>
								<button class="btn btn-dark">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-6 col-sm-12 mx-auto">

					<div class="card">
						<img src="https://i.imgur.com/lTgyE2X.jpg" class="card-img-top">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<span class="font-weight-bold">Wodden Chairs Premium set-2</span>
								<span class="font-weight-bold">$200</span>
							</div>
							<p class="card-text mb-1 mt-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<div class="d-flex align-items-center flex-row">
								<img src="https://i.imgur.com/e9VnSng.png" width="20">
								<span class="guarantee">2 Years Guarantee</span>
							</div>
						</div>
						<hr>
						<div class="col-md-4 col-lg-6 col-sm-12 mx-auto">

							<div class="text-right buttons">
								<button class="btn btn-outline-dark">add to wishlist</button>
								<button class="btn btn-dark">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-6 col-sm-12 mx-auto">

					<div class="card">
						<img src="https://i.imgur.com/NFcMfYE.jpg" class="card-img-top">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<span class="font-weight-bold">Office Chairs set-2</span>
								<span class="font-weight-bold">$500</span>
							</div>
							<p class="card-text mb-1 mt-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<div class="d-flex align-items-center flex-row">
								<img src="https://i.imgur.com/e9VnSng.png" width="20">
								<span class="guarantee">7 Years Guarantee</span>
							</div>
						</div>
						<hr>
						<div class="card-body">
							<div class="text-right buttons">
								<button class="btn btn-outline-dark">add to wishlist</button>
								<button class="btn btn-dark">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-6 col-sm-12 mx-auto">

					<div class="card">
						<img src="https://i.imgur.com/eu74Mje.jpg" class="card-img-top">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<span class="font-weight-bold">Wodden Chair set-3</span>
								<span class="font-weight-bold">$350</span>
							</div>
							<p class="card-text mb-1 mt-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<div class="d-flex align-items-center flex-row">
								<img src="https://i.imgur.com/e9VnSng.png" width="20">
								<span class="guarantee">3 Years Guarantee</span>
							</div>
						</div>
						<hr>
						<div class="card-body">
							<div class="text-right buttons">
								<button class="btn btn-outline-dark">add to wishlist</button>
								<button class="btn btn-dark">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-6 col-sm-12 mx-auto">

					<div class="card">
						<img src="https://i.imgur.com/L5iInTA.jpg" class="card-img-top">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<span class="font-weight-bold">Dinning chairs set-4</span>
								<span class="font-weight-bold">$200</span>
							</div>
							<p class="card-text mb-1 mt-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<div class="d-flex align-items-center flex-row">
								<img src="https://i.imgur.com/e9VnSng.png" width="20">
								<span class="guarantee">8 Years Guarantee</span>
							</div>
						</div>
						<hr>
						<div class="card-body">
							<div class="text-right buttons">
								<button class="btn btn-outline-dark">add to wishlist</button>
								<button class="btn btn-dark">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-6 col-sm-12 mx-auto">

					<div class="card">
						<img src="https://i.imgur.com/64PRDTx.jpg" class="card-img-top">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<span class="font-weight-bold">Office Chairs set-2</span>
								<span class="font-weight-bold">$450</span>
							</div>
							<p class="card-text mb-1 mt-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<div class="d-flex align-items-center flex-row">
								<img src="https://i.imgur.com/e9VnSng.png" width="20">
								<span class="guarantee">3 Years Guarantee</span>
							</div>
						</div>
						<hr>
						<div class="card-body">
							<div class="text-right buttons">
								<button class="btn btn-outline-dark">add to wishlist</button>
								<button class="btn btn-dark">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
			<!--Dining-->
			<div class="d-flex justify-content-between p-3 bg-white mb-3 align-items-center">
				<span class="font-weight-bold text-uppercase">Luxury Dining</span>
				<div>
					<img src="https://img.icons8.com/windows/100/000000/list.png" width="30">
					<img src="https://img.icons8.com/ios-filled/100/000000/squared-menu.png" width="25">
				</div>
			</div>
			<div class="row g-3">
				<div class="col-md-4 col-lg-6 col-sm-12 mx-auto">

					<div class="card">
						<img src="https://i.imgur.com/hnQ492C.jpg" class="card-img-top">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<span class="font-weight-bold">Dinning table set-4</span>
								<span class="font-weight-bold">$450</span>
							</div>
							<p class="card-text mb-1 mt-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<div class="d-flex align-items-center flex-row">
								<img src="https://i.imgur.com/e9VnSng.png" width="20">
								<span class="guarantee">4 Years Guarantee</span>
							</div>
						</div>
						<hr>
						<div class="card-body">
							<div class="text-right buttons">
								<button class="btn btn-outline-dark">add to wishlist</button>
								<button class="btn btn-dark">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-6 col-sm-12 mx-auto">

					<div class="card">
						<img src="https://i.imgur.com/10JlX4K.jpg" class="card-img-top">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<span class="font-weight-bold">Dinning set set-8</span>
								<span class="font-weight-bold">$2,000</span>
							</div>
							<p class="card-text mb-1 mt-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<div class="d-flex align-items-center flex-row">
								<img src="https://i.imgur.com/e9VnSng.png" width="20">
								<span class="guarantee">6 Years Guarantee</span>
							</div>
						</div>
						<hr>
						<div class="card-body">
							<div class="text-right buttons">
								<button class="btn btn-outline-dark">add to wishlist</button>
								<button class="btn btn-dark">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-6 col-sm-12 mx-auto">

					<div class="card">
						<img src="https://i.imgur.com/eu74Mje.jpg" class="card-img-top">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<span class="font-weight-bold">Dinning chairs set-3</span>
								<span class="font-weight-bold">$900</span>
							</div>
							<p class="card-text mb-1 mt-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<div class="d-flex align-items-center flex-row">
								<img src="https://i.imgur.com/e9VnSng.png" width="20">
								<span class="guarantee">4 Years Guarantee</span>
							</div>
						</div>
						<hr>
						<div class="card-body">
							<div class="text-right buttons">
								<button class="btn btn-outline-dark">add to wishlist</button>
								<button class="btn btn-dark">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-6 col-sm-12 mx-auto">

					<div class="card">
						<img src="https://i.imgur.com/uh0knIW.jpg" class="card-img-top">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<span class="font-weight-bold">Dinning table set-10</span>
								<span class="font-weight-bold">$3,500</span>
							</div>
							<p class="card-text mb-1 mt-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<div class="d-flex align-items-center flex-row">
								<img src="https://i.imgur.com/e9VnSng.png" width="20">
								<span class="guarantee">6 Years Guarantee</span>
							</div>
						</div>
						<hr>
						<div class="card-body">
							<div class="text-right buttons">
								<button class="btn btn-outline-dark">add to wishlist</button>
								<button class="btn btn-dark">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-6 col-sm-12 mx-auto">

					<div class="card">
						<img src="https://i.imgur.com/rdYgwhr.jpg" class="card-img-top">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<span class="font-weight-bold">Table chair set-5</span>
								<span class="font-weight-bold">$250</span>
							</div>
							<p class="card-text mb-1 mt-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<div class="d-flex align-items-center flex-row">
								<img src="https://i.imgur.com/e9VnSng.png" width="20">
								<span class="guarantee">8 Years Guarantee</span>
							</div>
						</div>
						<hr>
						<div class="card-body">
							<div class="text-right buttons">
								<button class="btn btn-outline-dark">add to wishlist</button>
								<button class="btn btn-dark">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-6 col-sm-12 mx-auto">

					<div class="card">
						<img src="https://i.imgur.com/x6hhqGn.jpg" class="card-img-top">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<span class="font-weight-bold">Luxury Dinning set-7</span>
								<span class="font-weight-bold">$750</span>
							</div>
							<p class="card-text mb-1 mt-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<div class="d-flex align-items-center flex-row">
								<img src="https://i.imgur.com/e9VnSng.png" width="20">
								<span class="guarantee">6 Years Guarantee</span>
							</div>
						</div>
						<hr>
						<div class="card-body">
							<div class="text-right buttons">
								<button class="btn btn-outline-dark">add to wishlist</button>
								<button class="btn btn-dark">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</main>

	<hr>

	<div class="container">
		<div class="info">
			Mobile - Try tapping
		</div>
		<div class="mobile-layout">
			<div class="notification-header">
				<div class="time">
					9:41
				</div>
				<div class="necessities">
					<i class="fas fa-signal"></i>
					<i class="fas fa-wifi"></i>
					<i class="fas fa-battery-full"></i>
				</div>
			</div>
			<div class="actions">
				<i class="fas fa-chevron-left"></i>
				<i class="fas fa-bookmark"></i>
			</div>
			<div class="book-cover">
				<img class="book-top" src="{{ asset('images/home2.jpg') }}" alt="book-top"/>

				<img class="book-side" src="{{ asset('images/home1.jpg') }}" alt="book-side"/>

			</div>
			<div class="preface">
				<div class="content">
					<div class="header">
						<div class="title">The Diary of a Young Girl</div>
						<div class="icon">
							<i class="fas fa-chevron-down"></i>
						</div>
					</div>
					<div class="author">by Anne Frank</div>
					<div class="body">
						<p>
							also known as The Diary of Anne Frank, is a book of the writings from the Dutch-language diary kept by Anne Frank while she was in hiding for two years with her family during the Nazi occupation of the Netherlands
						</p>
						<p>
							Anne calls her diary "Kitty", so almost all of the letters are written to Kitty.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--
	https://saranyamk.github.io/images-repo/book-top.svg
	https://saranyamk.github.io/images-repo/book-side.svg
	-->


{% endblock %}
