{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	|
	{{ categorie.nom }}
{% endblock %}

{% block h1 %}
	{{ categorie.nom }}
{% endblock %}

{% block body %}

	<a class="btn btn-dark" href="{{ path('app_categorie_index') }}">Retour</a>

	<table class="table mt-3">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ categorie.id }}</td>
			</tr>
			<tr>
				<th>Nom de la catégorie</th>
				<td>{{ categorie.nom }}</td>
			</tr>
			<tr>
				<th>Livres</th>
				<td>
					{% for produit in categorie.produits %}
						<li>{{ produit.titre }}</li>
					
					{% endfor %}
				</td>
			</tr>
		</tbody>
	</table>



{% endblock %}
